.one {
    display: inline-block;
    padding: auto;
}
.main{
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width:50%;  
    font-size: 30px;
}
.main>div{
    align-items: center;
}
.head{
    display: flex;
  flex-direction: column;
}
#every{
    display: flex;
	justify-content: center;
	align-items: center;
}
button{
    background: rgb(146, 212, 146);
    width: 300px;
    height: 100px;
    font-size: 30px;
    border-radius: 20px;;
}